

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}